In [1]:
print('Hey Dr. Lisa')

Hey Dr. Lisa

<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars where as other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

There's a new jupysql version available (0.10.10), you're running 0.10.3. To upgrade: pip install jupysql --upgrade

In [3]:
!pip install jupysql

Requirement already satisfied: jupysql in ./anaconda3/lib/python3.11/site-packages (0.10.3)
Requirement already satisfied: prettytable in ./anaconda3/lib/python3.11/site-packages (from jupysql) (3.9.0)
Requirement already satisfied: sqlalchemy in ./anaconda3/lib/python3.11/site-packages (from jupysql) (2.0.23)
Requirement already satisfied: sqlparse in ./anaconda3/lib/python3.11/site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in ./anaconda3/lib/python3.11/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in ./anaconda3/lib/python3.11/site-packages (from jupysql) (3.1.2)
Requirement already satisfied: sqlglot>=11.3.7 in ./anaconda3/lib/python3.11/site-packages (from jupysql) (19.3.1)
Requirement already satisfied: ploomber-core>=0.2.7 in ./anaconda3/lib/python3.11/site-packages (from jupysql) (0.2.15)
Requirement already satisfied: jupysql-plugin in ./anaconda3/lib/python3.11/site-packages (from jupysql) (0.2.6)
Requirement already satisfied: click in ./anaconda3/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (8.0.4)
Requirement already satisfied: pyyaml in ./anaconda3/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0)
Requirement already satisfied: posthog in ./anaconda3/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (3.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in ./anaconda3/lib/python3.11/site-packages (from jinja2->jupysql) (2.1.1)
Requirement already satisfied: wcwidth in ./anaconda3/lib/python3.11/site-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied: typing-extensions>=4.2.0 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy->jupysql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy->jupysql) (2.0.1)
Requirement already satisfied: requests<3.0,>=2.7 in ./anaconda3/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in ./anaconda3/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in ./anaconda3/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in ./anaconda3/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in ./anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.2.2)

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

In [6]:
%sql sqlite:///my_data1.db

Connecting to 'sqlite:///my_data1.db'

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Running query in 'sqlite:///my_data1.db'

++
||
++
++

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
%sql select DISTINCT LAUNCH_SITE from SPACEXTBL

Running query in 'sqlite:///my_data1.db'

+--------------+
| Launch_Site  |
+--------------+
| CCAFS LC-40  |
| VAFB SLC-4E  |
|  KSC LC-39A  |
| CCAFS SLC-40 |
+--------------+


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [21]:
%sql select * from SPACEXTBL where LAUNCH_SITE like 'CCA%' limit 5

Running query in 'sqlite:///my_data1.db'

+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |                            Payload                            | PAYLOAD_MASS__KG_ |   Orbit   |     Customer    | Mission_Outcome |   Landing_Outcome   |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
| 2010-06-04 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40 |              Dragon Spacecraft Qualification Unit             |         0         |    LEO    |      SpaceX     |     Success     | Failure (parachute) |
| 2010-12-08 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40 | Dragon demo flight C1, two CubeSats, barrel of Brouere cheese |         0         | LEO (ISS) | NASA (COTS) NRO |     Success     | Failure (parachute) |
| 2012-05-22 |  7:44:00   |  F9 v1.0  B0005 | CCAFS LC-40 |                     Dragon demo flight C2                     |        525        | LEO (ISS) |   NASA (COTS)   |     Success     |      No attempt     |
| 2012-10-08 |  0:35:00   |  F9 v1.0  B0006 | CCAFS LC-40 |                          SpaceX CRS-1                         |        500        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
| 2013-03-01 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40 |                          SpaceX CRS-2                         |        677        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [23]:
%sql SELECT sum(PAYLOAD_MASS__KG_) as TOTAL_PAYLOAD_MASS FROM SPACEXTBL WHERE CUSTOMER LIKE '%NASA (CRS)%';

Running query in 'sqlite:///my_data1.db'

+--------------------+
| TOTAL_PAYLOAD_MASS |
+--------------------+
|       48213        |
+--------------------+

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [29]:
%sql SELECT AVG (PAYLOAD_MASS__KG_) as TOTAL_AVERAGE_PAYLOAD_MASS FROM SPACEXTBL WHERE BOOSTER_VERSION LIKE 'F9 v1.1'

Running query in 'sqlite:///my_data1.db'

+----------------------------+
| TOTAL_AVERAGE_PAYLOAD_MASS |
+----------------------------+
|           2928.4           |
+----------------------------+

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [30]:
%sql SELECT MIN(DATE) as FIRST_SUCCESSFUL_LANDING_OUTCOME_IN_GROUND_PAD FROM SPACEXTBL WHERE LANDING_OUTCOME = 'Success (ground pad)'

Running query in 'sqlite:///my_data1.db'

+------------------------------------------------+
| FIRST_SUCCESSFUL_LANDING_OUTCOME_IN_GROUND_PAD |
+------------------------------------------------+
|                   2015-12-22                   |
+------------------------------------------------+

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [33]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE LANDING_OUTCOME ='Success (drone ship)' AND PAYLOAD_MASS__KG_> 4000 AND PAYLOAD_MASS__KG_ < 6000

Running query in 'sqlite:///my_data1.db'

+-----------------+
| Booster_Version |
+-----------------+
|   F9 FT B1022   |
|   F9 FT B1026   |
|  F9 FT  B1021.2 |
|  F9 FT  B1031.2 |
+-----------------+

### Task 7




##### List the total number of successful and failure mission outcomes

In [75]:
%sql SELECT MISSION_OUTCOME, COUNT(*) AS TOTAL FROM SPACEXTBL WHERE MISSION_OUTCOME IN ('Success', 'Failure (in flight)', 'Success (payload status unclear)') GROUP BY MISSION_OUTCOME

Running query in 'sqlite:///my_data1.db'

+----------------------------------+-------+
|         Mission_Outcome          | TOTAL |
+----------------------------------+-------+
|       Failure (in flight)        |   1   |
|             Success              |   98  |
| Success (payload status unclear) |   1   |
+----------------------------------+-------+

In [80]:
%sql SELECT TRIM(UPPER(MISSION_OUTCOME)) AS STANDARDIZED_OUTCOME, COUNT(*) AS TOTAL FROM SPACEXTBL GROUP BY TRIM(UPPER(MISSION_OUTCOME)) ORDER BY STANDARDIZED_OUTCOME;

Running query in 'sqlite:///my_data1.db'

+----------------------------------+-------+
|       STANDARDIZED_OUTCOME       | TOTAL |
+----------------------------------+-------+
|       FAILURE (IN FLIGHT)        |   1   |
|             SUCCESS              |   99  |
| SUCCESS (PAYLOAD STATUS UNCLEAR) |   1   |
+----------------------------------+-------+

In [98]:
%sql SELECT MISSION_OUTCOME, COUNT(*) AS TOTAL FROM SPACEXTBL WHERE MISSION_OUTCOME IN ('Success', 'Failure')

Running query in 'sqlite:///my_data1.db'

+-----------------+-------+
| Mission_Outcome | TOTAL |
+-----------------+-------+
|     Success     |   98  |
+-----------------+-------+

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [84]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);

Running query in 'sqlite:///my_data1.db'

+-----------------+
| Booster_Version |
+-----------------+
|  F9 B5 B1048.4  |
|  F9 B5 B1049.4  |
|  F9 B5 B1051.3  |
|  F9 B5 B1056.4  |
|  F9 B5 B1048.5  |
|  F9 B5 B1051.4  |
|  F9 B5 B1049.5  |
|  F9 B5 B1060.2  |
|  F9 B5 B1058.3  |
|  F9 B5 B1051.6  |
+-----------------+
Truncated to displaylimit of 10.

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [99]:
%sql SELECT DATE, BOOSTER_VERSION, LAUNCH_SITE FROM SPACEXTBL WHERE LANDING_OUTCOME LIKE 'FAIL%' AND DATE LIKE '2015%'

Running query in 'sqlite:///my_data1.db'

+------------+-----------------+-------------+
|    Date    | Booster_Version | Launch_Site |
+------------+-----------------+-------------+
| 2015-01-10 |  F9 v1.1 B1012  | CCAFS LC-40 |
| 2015-04-14 |  F9 v1.1 B1015  | CCAFS LC-40 |
+------------+-----------------+-------------+

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [105]:
%sql SELECT LANDING_OUTCOME, COUNT(*) AS LANDING_COUNT FROM SPACEXTBL WHERE LANDING_OUTCOME LIKE 'Success%'AND DATE BETWEEN '2010-06-04' AND '2017-03-20'GROUP BY LANDING_OUTCOME ORDER BY COUNT(LANDING_OUTCOME) DESC;

Running query in 'sqlite:///my_data1.db'

+----------------------+---------------+
|   Landing_Outcome    | LANDING_COUNT |
+----------------------+---------------+
| Success (drone ship) |       5       |
| Success (ground pad) |       3       |
+----------------------+---------------+